body{
    text-align: center;
}

body h1{
    font-weight: 800;
}

body h3{
    font-weight: 500;
    font-style: italic;
}

body h5{
    margin: auto;
    font-size: 15px;
    text-align: left;
    max-width: 300px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}